= render partial: "shared/header"
%main
  .container
    %h1#page-title.text-center Dashboard for #{@user.full_name}
    
    .panel.panel-default
      .panel-heading ToDo List
      .panel-body
        = render partial: "items/form", locals: {user: @user, item: @item}  
      = render partial: "items/item_table", locals: {user: @user, items: @items}