%table.table
  %thead
    %tr
      %th Item
      %th Days Left
      %th Complete
  %tbody
    - if items.empty?
      %tr
        %td{colspan: 3} Your TODO list is empty. Congratulations.
    - else
      - items.each do |item|
        %tr{ id: "item-id-#{item.id}" }
          %td #{item.name}
          %td 1
          %td
            = link_to "", [user, item], method: :delete, class: 'glyphicon glyphicon-ok', id: "delete-item-id-#{item.id}", remote: true