header {
  background-color: $brand-primary;
}

.navbar-header {
  margin-top: 10px;
  margin-bottom: 10px;
  
  .icon-bar {
    background-color: #333;
  }

  button.navbar-toggle {
    border: 1px solid #333
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }
}


#bloccitoff-navbar-collapse-1 {
  z-index: 100;
  background-color: $gray-lighter;
  
  position: absolute;
  width: 100%;
  
  box-shadow: 0px 10px 10px -10px #999;
  
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid darken($gray-lighter, 10%);

  .nav-icons {
    color: $gray;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $screen-sm-min) {
  #bloccitoff-navbar-collapse-1 {
    background-color: inherit;
    margin-top: 10px;
    
    position: static;
    width: auto;
    
    box-shadow: none;
    border-top: none;
    border-bottom: none;
    
    .nav-icons {
      color: #FFF;
    }
    
    li {
      a {
        color: #FFF;
        font-weight: bold;
        padding: 0;
        margin: 15px;
      }

      a:hover, a:focus, {
        color: #ccc;
        background-color: inherit;
        border-bottom: 2px solid #ccc;
      }
    }
  }
}